svg {
  background-color: #EFECEA;
}

text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.y-axis-label, .x-axis-label {
  fill: #635F5D;
  font-size: 1.5em;
}

.area-path {
  fill: #E6842A;
  stroke:black;
  stroke-width: 2;
}
